# core
torch>=2.2
transformers==4.44.2
accelerate==0.33.0
datasets==2.19.0
peft==0.11.1
trl==0.9.6
bitsandbytes>=0.43.1
safetensors>=0.4.3


# logging & utils
wandb>=0.17
pyyaml>=6.0.1
pandas>=2.2
matplotlib>=3.8


# evaluation (AlpacaEval 2 + FastChat judge + OpenAI)
alpaca-eval==0.6.6
fschat>=0.2.36
openai>=1.46.0